body{
    background-color: rgb(99, 199, 202);
    display: grid;
}
.buttons{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 77, 77);
    top: 45vh;
}
.box {
    position: relative;
    float: left;
    top: 35vh;
    width: 20px;
    height: 25px;
    border: solid black 1px;
}