body{
    background-color: rgb(99, 199, 202);
    display: grid;
    align-items: center;
    justify-items: center;
}
h1{
    font-family:sans-serif;
    color: rgb(9, 75, 136);
}
h2{
    font-family: sans-serif;
    color: rgb(15, 121, 121);
}
.buttons{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 77, 77);
    top: 45vh;
}
.box {
    position: relative;
    float: left;
    top: 35vh;
    width: 30px;
    height: 25px;
    border: solid black 1px;
    text-align: center;
}